# IDE, виртуальное окружение, системные файлы
.idea/
.vscode/
.venv/
venv/
env/
.env
.DS_Store
Thumbs.db
*.iml

# Python служебные файлы
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.exe

# Логи, базы, прочие временные файлы
*.log
*.sqlite3
*.db
.coverage
htmlcov/
.pytest_cache/

# Project volumes (каталоги для Docker)
images/
logs/
volume/

# Jupyter notebooks
*.ipynb

