<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hero Page</title>
  <link rel="stylesheet" href="style_home_page.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  <section class="hero">
    <div class="header-title">
      <h1>Upload Photos</h1>
    </div>
    <div class="header-subtitle">
      <p>Upload selfies, memes, or any fun pictures here.</p>
    </div>
    <a href="#" class="btn" id="go-to-new-page" >TAIL-ENT SHOWCASE</a>
    <img id="hero-image" src="" alt="Random hero image">
  </section>

  <script src="scripts/main.js"></script>
</body>
</html>
